@import '../../theme/theme.scss';

@media screen and (min-height: 0px) {
	.sidenav {
		position: sticky;
		top: 0;
		z-index: 1999;

		.r {
			.c {
				padding: 0%;

				.sidenav-container {
					height: 100%;

					.mat-sidenav-content {
						.mat-toolbar {
							display: flex;
							justify-content: space-between;
							background-color: $color-white;

							.h1 {
								font-family: MavenPro;
								font-size: large;
							}
						}
					}
				}

				.mat-sidenav {
					width: 100%;
					background-color: $color-black-100;
				}

				.mat-nav-list .mat-divider {
					border-top-color: $color-blue-100;
				}

				.mat-nav-list .close-button {
					display: flex;
					align-content: flex-end;
					justify-content: flex-end;
					align-self: flex-end;
				}

				.mat-nav-list .a {
					color: $color-blue-700;

					.h6 {
						font-size: small;
						font-family: MavenPro;
						margin: 0;
					}
				}

				.mat-nav-list .a:hover {
					background-color: #e5e5e5;
					color: $color-white;
				}

				.mat-nav-list .label {
					background-color: $color-blue-800;
					color: $color-black-100;

					.h6 {
						font-family: MavenPro;
						font-size: 11px;
						margin: 0%;
						text-align: end;
						padding: 0.1rem 0.5rem !important;
					}
				}

				.mat-nav-list .mat-accordion .title {
					font-family: MavenPro;
					color: $color-blue-700;
					text-decoration-line: underline;
					text-underline-offset: 4px;
				}
			}
		}
	}
}