@import '../../../../theme/theme.scss';

@media screen and (min-width: 0px) {
    .home {
        background-color: #fbfcfe;
        border-radius: 1rem;
        // border-top: 1rem solid $primary30;
        // border-bottom: 1rem solid $primary30;
        margin: 4rem 0;

        .r1 {
            padding: 4rem 0;

            .r1c1 {
                .r1c1r1 {
                    text-align: center;

                    .h3 {
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        word-spacing: 0.5rem;
                        padding: 4rem 1rem !important;
                        color: $primary30;
                    }
                }

                .r1c1r2 {
                    padding: 2rem !important;

                    .p {
                        background-color: $primary95;
                        color: $primary40;
                        padding: 2rem !important;
                        border-radius: 1rem;
                        box-shadow: 0px 3px 6px 1px #00000010 inset;
                    }
                }

                .r1c1r3 {
                    padding: 2rem 0;

                    .r1c1r3c1,
                    .r1c1r3c2,
                    .r1c1r3c3,
                    .r1c1r3c4,
                    .r1c1r3c5,
                    .r1c1r3c6 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4rem 1rem;

                        .mat-flat-button {
                            width: 256px;
                            transform: scale(60%);
                        }

                        .android-button {
                            background-image: url('../../../../../assets/images/brands/Android_symbol_green_RGB.png');
                            background-size: 100% 100%;
                        }

                        .ios-button {
                            background-image: url('../../../../../assets/images/brands/icons8-ios-logo-250.png');
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }

                .r1c1r4 {

                    .r1c1r4c1,
                    .r1c1r4c2,
                    .r1c1r4c3,
                    .r1c1r4c4,
                    .r1c1r4c5,
                    .r1c1r4c6,
                    .r1c1r4c7,
                    .r1c1r4c8,
                    .r1c1r4c9,
                    .r1c1r4c10,
                    .r1c1r4c11,
                    .r1c1r4c12 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;

                        .mat-card {
                            box-shadow: 0px 3px 10px 0px $primary90;
                            border-bottom: 4px solid $primary50;
                            transform: scale(60%);
                            transition: 0.3s ease-in-out;

                            .mat-card-header {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .mat-card-title {
                                    padding-bottom: 12px;
                                }
                            }

                        }

                        .mat-card:hover {
                            transform: scale(70%);
                            transition: 0.3s ease-in-out;
                        }

                        .mat-flat-button {
                            width: 256px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    .home {
        .r1 {
            .r1c1 {
                .r1c1r2 {
                    .r1c1r2c1 {
                        padding: 0 1rem;

                        .p {
                            padding: 2rem !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .home {
        .r1 {
            display: flex;
            justify-content: center;
            align-items: center;

            .r1c1 {
                .r1c1r1 {
                    .h3 {
                        text-transform: uppercase !important;
                        letter-spacing: 0.3rem !important;
                        word-spacing: 1rem !important;
                        padding: 2rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {}