<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="row r1c1r1">
                <h3 class="h3">Mobile Development</h3>
            </div>
            <div class="row r1c1r2">
                <p class=" p">Mobile development refers to the process of creating mobile applications for devices such
                    as smartphones and tablets. It involves designing, developing, and maintaining applications that can
                    run on various mobile platforms, including iOS and Android. A mobile developer typically uses
                    programming languages like Swift or Java to create the visual design and functionality of an
                    application. Other technologies like APIs, SDKs, and frameworks may also be used. The goal of mobile
                    development is to create a user-friendly and engaging application that meets the needs of both the
                    business and the users.
                </p>
            </div>

            <div class="row r1c1r3">
                <div class="col-sm-6 r1c1r3c1">
                    <button mat-flat-button class="mat-flat-button android-button" matTooltip="Go To Android Page"
                        matTooltipPosition="below"
                        style="font-family: Outfit; font-size: large; padding: 4rem; box-shadow: 0px 3px 6px 0px #10536b30; color: #10536b; border-left: 4px solid #005189;"
                        [routerLink]="">
                    </button>
                </div>
                <div class="col-sm-6 r1c1r3c2">
                    <button mat-flat-button class="mat-flat-button ios-button" matTooltip="Go To IOS Page"
                        matTooltipPosition="below"
                        style="font-family: Outfit; font-size: large; padding: 4rem; box-shadow: 0px 3px 6px 0px #10536b30; color: #10536b; border-left: 4px solid #005189;"
                        [routerLink]="">
                    </button>
                </div>
            </div>

            <div class="row r1c1r1">
                <h3 class="h3"><span class="span">Technologies Used For Mobile Development</span></h3>
            </div>

            <div class="row r1c1r4">
                <div class="col-sm-4 r1c1r4c1">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter" src="../../../../../assets/images/brands/flutter.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c2">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/react.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c3">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/ionic.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c4">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/xamarin.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c5">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/Kotlin.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c6">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/Swift.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c7">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/Java.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c8">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react" src="../../../../../assets/images/brands/NativeScript.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c9">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image react"
                                src="../../../../../assets/images/brands/Apache Cordova.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>