<div class="container-fluid home">

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div>
                <!-- Android App icon.png -->
                <img src="../../../../../assets/images/brands/android.png" alt="Android" class="img">
            </div>
            <h3 class="h3">{{r1[0].title}}</h3>
            <p class="p">{{r1[0].content}}</p>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h3 class="h3">Why Choose Our Android App Development Services?</h3>
            <div class="row r2c1r1">
                <div class="col-sm-6 r2c1r1c1" *ngFor="let items of r2">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{items.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{items.content}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">Our Android App Development Process</h3>
            <div class="row r3c1r1">
                <div class="col-sm-6 r3c1r1c1" *ngFor="let items of r3">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{items.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{items.content}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <mat-card class="mat-card">
                <mat-card-content class="mat-card-content">
                    <p class="p">With our professional Android app development services, you can harness the power of
                        the Android platform to expand your reach, enhance customer engagement, and drive business
                        growth. We combine technical expertise, creative design, and a customer-centric approach to
                        deliver exceptional Android apps that make a lasting impact.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>