@import '../../../../theme/theme.scss';

@media screen and (min-width: 0px) {
    .home {
        height: 100%;
        width: 100%;
        padding: 0;

        .r1 {
            height: 840px;
            background-image: url('../../../../../assets/images/pattern/1 (4).png');
            background-position: center;
        }

        .r2 {
            position: absolute;
            top: 8rem;
            display: flex;
            justify-content: space-evenly;
            height: 100%;
            width: 100%;

            .r2c1 {
                .intro {
                    color: $primary98;
                    text-align: start;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .h4 {
                        font-weight: lighter;
                    }
                }
            }

            .r2c2 {
                display: flex;
                justify-content: center;

                .mat-button {
                    margin: 4rem 0;
                    border-radius: 1rem;
                    border: 0.5rem solid $primary30;
                    font-family: Outfit;
                    padding: 1.3rem 2rem;
                    font-weight: bold;
                    font-size: large;
                    color: $primary30;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .home {
        .r2 {
            top: 6rem;

            .r2c1 {
                .intro {
                    padding: 10%;
                }
            }

            .r2c2 {
                .mat-button {
                    margin: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .home {
        .r2 {
            top: 6rem;

            .r2c1 {
                width: 100%;

                .intro {
                    padding: 10%;
                }
            }

            .r2c2 {
                width: 100%;

                .mat-button {
                    margin: 3rem;
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .home {
        .r1 {
            background-size: 100% 100%;
        }

        .r2 {
            width: 100%;
            padding: 2rem;

            .r2c1 {
                width: 70%;

                .intro {
                    padding-right: 0;
                    padding-left: 4rem;

                    .h4 {
                        width: 80%;
                    }
                }
            }

            .r2c2 {
                width: 30%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;

                .mat-button {
                    margin: 0%;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .home {
        .r2 {
            padding: 1rem 8rem;

            .r2c1 {
                .intro {
                    .h4 {
                        width: 80%;
                    }
                }
            }

            .r2c2 {
                width: 30%;
                align-items: center;

                .mat-button {
                    margin: 0%;
                }
            }
        }
    }
}