<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-6 r2c1">
            <div class="intro">
                <h1 class="h1">Looking to develop the world's best software for your business?</h1>
                <h3 class="h3">Look no further.</h3>
                <h4 class="h4">Our team of experts offers fully-managed, world-class development services for your next
                    project in Ecommerce Services, Blockchain, Web Development, Mobile App Development, IoT, Cloud, Etc.
                    Let us help bring your vision to life.</h4>
            </div>
        </div>
        <div class="col-sm-6 r2c2">
            <button class="mat-button" (click)="openDialog()" mat-flat-button>Contact Now</button>
        </div>
    </div>
</div>