<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">{{home.r1.title}}</h1>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-4 r3c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r3.mat_card_1.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r3.mat_card_1.description}}</p>
                </mat-card-content>
                <mat-card-actions class="mat-card-actions">
                    <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire</button>
                    <div>
                        <img src="../../../../../assets/images/brands/96x96/real-time-data-management.png"
                            alt="Real Time Data Management" class="img">
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-4 r3c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r3.mat_card_2.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r3.mat_card_2.description}}</p>
                </mat-card-content>
                <mat-card-actions class="mat-card-actions">
                    <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire</button>
                    <div>
                        <img src="../../../../../assets/images/brands/96x96/access.png" alt="Security & Access Control"
                            class="img">
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-4 r3c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r3.mat_card_3.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r3.mat_card_3.description}}</p>
                </mat-card-content>
                <mat-card-actions class="mat-card-actions">
                    <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire</button>
                    <div>
                        <img src="../../../../../assets/images/brands/96x96/interconnected-devices.png"
                            alt="Interconnected Devices" class="img">
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row r4">
        <h3 class="h3">{{home.r4.title}}</h3>
        <div class="col-sm-6 r4c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r4.mat_card_1.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r4.mat_card_1.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-6 r4c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r4.mat_card_2.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r4.mat_card_2.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-6 r4c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r4.mat_card_3.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r4.mat_card_3.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-6 r4c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <h5 class="h5">{{home.r4.mat_card_4.title}}</h5>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <p class="p">{{home.r4.mat_card_4.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>