<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="row r1c1r1">
                <h3 class="h3">BUSINESS ENTERPRISE</h3>
            </div>
            <div class="row r1c1r2">
                <p class=" p">A modern business enterprise must stay up-to-date with the latest technology to remain
                    competitive in today's market. Blockchain development involves using a decentralized ledger to
                    securely store and track information, while IoT connects devices and enables data sharing. AI
                    provides automated decision-making and analysis, while ecommerce provides online sales and
                    distribution channels. Cognitive cloud computing uses AI to optimize cloud services. To leverage
                    these technologies effectively, business enterprises must have a strong understanding of their
                    applications, limitations, costs, and develop strategies.
                </p>
            </div>

            <div class="row r1c1r1">
                <h3 class="h3"><span class="span">Technologies Used In Business Enterprise</span></h3>
            </div>

            <div class="row r1c1r4">
                <div class="col-sm-4 r1c1r4c1">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <h3 class="h3">Block Chain Development</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c2">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <h3 class="h3">Internet of Things(IOT) Development</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c3">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <h3 class="h3">Artificial Intelligence</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c4">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <h3 class="h3">Cognitive Cloud Computing</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r4c5">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <h3 class="h3">E-Commerce Development</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>