<div class="container-fluid home">

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div>
                <img src="../../../../../assets/images/icons/IoT.png" alt="IoT Development" class="img">
            </div>
            <h3 class="h3">IoT Development Services</h3>
            <p class="p">IoT development involves developing IoT applications and products that can be remotely
                controlled and used to monitor the condition or environment of the connected product via sensors and
                external data sources. Custom IoT development is done to meet the specific needs of a company.</p>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Stay on Top of Emerging Technology with IoT application development</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> We believe in the growth potential of Internet of Things IoT application
                                development, which makes everything from smart home appliances to workplaces and
                                robotics, agriculture and healthcare, our IoT application development services
                                connectible. they have limits. that will communicate with each other and can be
                                controlled via a mobile app. As a leading provider of IoT solutions and services, we
                                pride ourselves on being the ancestors of every leading technology innovation and leave
                                no opportunity to fully utilize it for our customers.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Real Time Data</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> Track decisions in real time and trigger scripts with fully customizable
                                notifications and workflows.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Access Control & Security</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> With IoT, users can seamlessly manage their smart devices from anywhere,
                                anytime.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Interconnected Devices</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Our developers augment customer service workflows the usage of AI, growing
                                superior customer data analytics and conversational agents to improve customer support,
                                which includes chatbots, voice-first interfaces, cognitive assistants, contextual
                                recommendations, and intelligent self-provider options.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders, We help you to grap the new opportunity and develop breakthrough
                                products by integrating mobile applications into gadgets and devices to create wonderful
                                user experiences that will fuel your IoT product growth. Our IoT app development
                                services will help you transform your business and propel your business forward. </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">IoT Development Services</h3>
            <div class="row r3c1r1">
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">IoT Solution</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> IoT solutions help build massive networks of IoT devices, reduce complexity,
                                ensure device efficiency, and encourage innovation in various industries looking for
                                growth opportunities and operational efficiency</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">IoT Architecture Development</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> IoT app development architecture, device and user components to keep things
                                working in a stable and secure manner and to control user access issues. We manage every
                                component from User Interface / User Experience to architectural design by working side
                                by side with our clients to know the exact architect who will seamlessly connect their
                                devices.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">IoT Module Development</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> An IoT module is a small electronic device embedded in objects, machines, and
                                things connected to wireless networks and sends and receives data.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">IoT Testing</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> IOT tests are a type of test used to verify IOT devices. Today there is an
                                increasing need for better and faster services. There is a tremendous demand for access,
                                creation, use and sharing of data from any device with control over various
                                interconnected IoT devices. Therefore, the IOT test framework is importants. </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>