<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="row r1c1r1">
                <h3 class="h3">Advantages of hiring us</h3>
            </div>
            <div class="row r1c1r2">
                <div class="col-sm-4 r1c1r2c1 rc">
                    <div class="circle">
                        <h5 class="h5">Expertise</h5>
                    </div>
                </div>
                <div class="col-sm-4 r1c1r2c2 rc">
                    <div class="circle">
                        <h5 class="h5">Quality</h5>
                    </div>
                </div>
                <div class="col-sm-4 r1c1r2c3 rc">
                    <div class="circle">
                        <h5 class="h5">Innovation</h5>
                    </div>
                </div>
            </div>
            <div class="row r1c1r3">
                <div class="col-sm-4 r1c1r1c4 rc">
                    <div class="circle">
                        <h5 class="h5">Cost-Effective</h5>
                    </div>
                </div>
                <div class="col-sm-4 r1c1r1c5 rc">
                    <div class="circle">
                        <h5 class="h5">Scalability</h5>
                    </div>
                </div>
                <div class="col-sm-4 r1c1r1c6 rc">
                    <div class="circle">
                        <h5 class="h5">Technology</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>