<div class="container-fluid about">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">{{home.r1.title}}</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <p class="p">{{home.r2.para}}</p>
        </div>
    </div>

    <div class="row r3">
        <h1 class="h1">{{home.r3.title}}</h1>
        <div class="col-sm-12 r3c1">
            <mat-card class="mat-card">
                <p class="p">{{home.r3.p1}}</p>
            </mat-card>
            <mat-card class="mat-card">
                <p class="p">{{home.r3.p2}}</p>
            </mat-card>
            <mat-card class="mat-card">
                <p class="p">{{home.r3.p3}}</p>
            </mat-card>
            <mat-card class="mat-card">
                <p class="p">{{home.r3.p4}}</p>
            </mat-card>
            <mat-card class="mat-card">
                <p class="p">{{home.r3.p5}}</p>
            </mat-card>
        </div>
    </div>

    <div class="row r4">
        <h1 class="h1">{{home.r4.title}}</h1>
        <div class="col-sm-12 r4c1">
            <p class="p">{{home.r4.para}}</p>
        </div>
    </div>

    <div class="row r5">
        <h1 class="h1">{{home.r5.title}}</h1>
        <div class="col-sm-12 r5c1">
            <p class="p">{{home.r5.p1}}</p>
            <p class="p">{{home.r5.p2}}</p>
            <p class="p">{{home.r5.p3}}</p>
        </div>
    </div>
</div>