<div class="container-fluid home">

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div>
                <img src="../../../../../assets/images/icons/ai.png" alt="Artificial Intelligence" class="img">
            </div>
            <h3 class="h3">Artificial Intelligence</h3>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">AI-Driven Software Solutions</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Our professional group of software program engineers conceptualizes and
                                implements AI-pushed software program and TheKoders into business operations to make a
                                contribution to long-time period enterprise continuity and efficiency, consisting of
                                clever structures for data-pushed selection making, marketing & sales, or patron
                                service.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Data-Driven Decision Making</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">To help in knowledgeable executive-stage choice making, TheKoders engineer
                                clever structures for figuring out boom hacking opportunities, trends, and anomalies in
                                operational processes, together with analytics, predictive maintenance, operational
                                forecasting, and demnad prediction.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Marketing & Sales</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders put into effect AI algorithms to assist business operations maximize
                                acquisition, retention, and relevance to their marketing & branding campaigns, which
                                includes sales forecasting, brand sentiment analytics, lead scoring & LTV calculator,
                                consumer segmentation, and customer conduct analytics.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Customer Service</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Our developers augment customer service workflows the usage of AI, growing
                                superior customer data analytics and conversational agents to improve customer support,
                                which includes chatbots, voice-first interfaces, cognitive assistants, contextual
                                recommendations, and intelligent self-provider options.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">AI Integrations</h3>
            <div class="row r3c1r1">
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Robotic Process Automation API</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders combine industry-leading RPA APIs, consisting of UIPath, Automation
                                Anywhere, BluePrism, and Pega Platform to help businesses automate time-consuming and
                                repetitive tasks.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Machine Learning & AI API</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders combine top machine learning software program APIs, consisting of IBM
                                Watson, TensorFlow, Mahout, and TheKoderska within your existing IT infrastructure to
                                facilitate mission-crucial business processes. </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Chatbot Software API</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders combine highly superior chatbot software program APIs, consisting of
                                Engati, Chatbot, ManyChat, and FreshChat within your existing TheKodersbsite or software
                                to automate customer support inquiries. </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Facial Recognition API</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">TheKoders combine facial reputation APIs, such as Deep Vision AI, FaceFirst,
                                Trueface, and Amazon Rekognition to detect/recognize facial functions for security and
                                user authentication.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>