<div class="main-container">
	<app-sidenav></app-sidenav>
	<app-header></app-header>
	<div class="container-fluid app">
		<div class="row r1">
			<div class="col-sm-12 r1c1">
				<router-outlet></router-outlet>
			</div>
		</div>
		<div class="row r2">
			<div class="col-sm-12 r2c1">

			</div>
		</div>
	</div>
	<button class="mat-mini-fab-up" mat-mini-fab style="background-color: #212529;" (click)="onClickScrollToTop()"
		aria-label="Example icon button with a menu icon">
		<mat-icon>keyboard_double_arrow_up</mat-icon>
	</button>
	<button class="mat-mini-fab-down" mat-mini-fab style="background-color: #212529;" (click)="onClickScrollToBottom()"
		aria-label="Example icon button with a menu icon">
		<mat-icon>keyboard_double_arrow_down</mat-icon>
	</button>
	<app-footer></app-footer>
</div>