<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div>
                <img src="../../../../../assets/images/brands/96x96/react-icon.png" alt="React" class="img">
            </div>
            <h3 class="h3">{{home.r1.title}}</h3>
            <p class="p">{{home.r1.p1}}</p>
            <p class="p">{{home.r1.p2}}</p>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h3 class="h3">{{home.r2.title}}</h3>
            <div class="row r2c1r1">
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r2.card_1.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r2.card_1.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r2.card_2.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r2.card_2.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r2.card_3.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r2.card_3.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r2.card_4.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r2.card_4.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">{{home.r3.title}}</h3>
            <div class="row r3c1r1">
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_1.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_1.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_2.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_2.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_3.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_3.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_4.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_4.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_5.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_5.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_6.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_6.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_7.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_7.para}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>