<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <app-home-section-one></app-home-section-one>
        </div>
    </div>

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <app-home-section-two></app-home-section-two>
        </div>
    </div>

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <app-home-section-three></app-home-section-three>
        </div>
    </div>

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <app-home-section-four></app-home-section-four>
        </div>
    </div>

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <app-home-section-five></app-home-section-five>
        </div>
    </div>
</div>