<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-4 r1c1">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <mat-card-title class="mat-card-title">ERROR 404</mat-card-title>
                    <mat-card-subtitle class="mat-card-subtitle">Page-Not-Found</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mat-card-content p-5">
                    <ul>
                        <li>Opps! This Page does not exist.</li>
                        <li>This site is under development.</li>
                        <li>Some pages & components might not work.</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button routerLink="/home" mat-button>Go Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>