<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div>
                <img src="../../../../../assets/images/brands/96x96/nodejsSq.png" alt="Node Js" class="img">
            </div>
            <h3 class="h3">Node JS Development</h3>
            <p class="p">Node Js is a great server-side platform for developing real-time applications. It uses an
                event-driven, non-blocking I/O model and enables the development of apps with fast backend. It is an
                open-source platform utilized mostly for crafting server-side and networking apps. Node Js runs on
                various platforms (Windows, Linux, Unix, Mac OS X, etc.). Node Js gives great opportunities to
                developers and increases the efficiency of the engineering teams. Node Js also leads to the formulation
                of the effective CMS or Back-end system for data management.</p>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h3 class="h3">Why Choose Thekoders?</h3>
            <div class="row r2c1r1">
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Highly Secured</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">The technology provides fully reliable, robust, secure architecture.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Dedicated Resources</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">We develop custom Node Js applications for our clients all over the world.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">We Never Miss Deadline</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">We impart 24x7 maintenance & technical support throughout the development
                                process.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Faster Development Process</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Compared with other technologies, it takes much less time to develop Node Js
                                based solutions.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">Team Strength</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Our professionals have superior industry knowledge and years of expertise.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r2c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">100% Satisfaction</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">Clients' satisfaction is something we hanker after to achieve.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">{{home.r3.title}}</h3>
            <div class="row r3c1r1">
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_1.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_1.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_2.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_2.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_3.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_3.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_4.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_4.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_5.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_5.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_6.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_6.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_7.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_7.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_8.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_8.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_9.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_9.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <mat-card-title class="mat-card-title">
                                <h6 class="h6">{{home.r3.card_10.title}}</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p"> {{home.r3.card_10.content}} </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>