<div class="container-fluid home">
    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h1 class="h1">Unleashing the power of technology for your business</h1>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <mat-tab-group class="mat-tab-group" fitInkBarToContent color="warn">
                <mat-tab label="Block Chain Development">
                    <app-block-chain></app-block-chain>
                </mat-tab>
                <mat-tab label="Internet of Things(IOT) development">
                    <app-internet-of-things></app-internet-of-things>
                </mat-tab>
                <mat-tab label="Artificial Intelligence">
                    <app-artificial-intelligence></app-artificial-intelligence>
                </mat-tab>
                <mat-tab label="Cognitive Cloud Computing">
                    <app-cognitive-cloud-computing></app-cognitive-cloud-computing>
                </mat-tab>
                <mat-tab label="E-Commerce Development">
                    <app-ecommerce-development></app-ecommerce-development>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>