@import '../../../../theme/theme.scss';
@import '../../../../theme/keyframes.scss';

@media screen and (min-width: 0px) {
    .home {
        height: 100%;
        width: 100%;
        background-color: $primary95;
        animation: fade-in 1s;

        .h3,
        .h5 {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            word-spacing: 0.5rem;
            padding: 2rem 1rem !important;
        }

        .p {
            padding: 2rem 1rem;

            .span {
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .r1 {
            height: auto;
            padding: 2rem 0;
            color: $primary30;

            .r1c1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: space-evenly;
                align-items: center;

                .img {
                    height: 64px;
                    width: 64px;
                    margin: 1rem;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    border: 1px solid $primary70;
                    background-color: $primary100;
                }
            }
        }

        .r2 {
            background-color: $primary40;
            color: $primary98;
            height: auto;

            .mat-card-content {
                height: 200px;
                display: flex;
                align-items: center;
                color: $primary60;
            }

            .r2c1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: space-evenly;
                align-items: center;

                .r2c1r1 {
                    .r2c1r1c1 {
                        display: flex;
                        align-items: center;
                        padding: 1rem;

                        .mat-card {
                            display: flex;
                            background-color: $primary10;
                            border-radius: 1rem;
                            overflow: hidden;
                            // border: 1px solid $primary90;
                            width: 100%;

                            .mat-card-header {
                                height: 64px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $primary20;
                                color: $primary60;
                                padding: 1rem;

                                .h6 {
                                    font-family: Outfit;
                                }
                            }

                            .mat-card-content {
                                height: 200px;
                                display: flex;
                                align-items: center;
                                color: $primary98;
                            }

                            .mat-card-actions {
                                border-top: 1px solid $primary80;
                                display: flex;
                                justify-content: space-between;

                                .mat-flat-button {
                                    background-color: $primary95;
                                    border-radius: 2rem;
                                    font-family: Outfit;
                                }

                                .img {
                                    height: 32px;
                                    width: 32px;
                                    border: 1px solid $primary80;
                                    border-radius: 4px;
                                    padding: 4px;
                                    margin: 0.5rem;
                                }
                            }

                            .icons {
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }

        .r3 {
            height: auto;
            background-color: $primary98;

            .r3c1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: space-evenly;
                align-items: center;

                .r3c1r1 {
                    .r3c1r1c1 {
                        padding: 1rem;

                        .mat-card {
                            display: flex;
                            background-color: $primary98;
                            border-radius: 1rem;
                            overflow: hidden;
                            // border: 1px solid $primary90;

                            .mat-card-header {
                                height: 64px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $primary95;
                                color: $primary60;
                                padding: 1rem;

                                .h6 {
                                    font-family: Outfit;
                                }
                            }

                            .mat-card-content {
                                height: 200px;
                                display: flex;
                                align-items: center;
                                color: $primary60;
                            }

                            .mat-card-actions {
                                border-top: 1px solid $primary80;
                                display: flex;
                                justify-content: space-between;

                                .mat-flat-button {
                                    background-color: $primary95;
                                    border-radius: 2rem;
                                    font-family: Outfit;
                                }

                                .img {
                                    height: 32px;
                                    width: 32px;
                                    border: 1px solid $primary80;
                                    border-radius: 4px;
                                    padding: 4px;
                                    margin: 0.5rem;
                                }
                            }

                            .icons {
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .home {

        .r1,
        .r2,
        .r3,
        .r4 {
            padding: 4rem;

            .r3c1 {
                .h5 {
                    text-align: center;
                    width: 40%;
                }
            }
        }

        .r1 {
            .r1c1 {
                .p {
                    width: 60%;
                }
            }
        }

        .r2 {
            .r2c1 {
                .r2c1r1 {
                    .r2c1r1c1 {
                        .para {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }

        .r3 {
            .r3c1 {
                .p1 {
                    width: 60%;
                }
            }
        }
    }
}