<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="row r1c1r1">
                <h3 class="h3">Web <span class="span">Development</span></h3>
            </div>
            <div class="row r1c1r2">
                <p class=" p">Web development refers to the process of creating websites and web applications
                    that can be accessed through the internet.It involves
                    designing, developing, and maintaining websites using a combination of programming
                    languages, frameworks, and tools. A web
                    developer typically works with HTML, CSS, and JavaScript to create the visual design and
                    functionality of a website. Other technologies
                    like databases, server-side scripting, and content management systems may also be used.
                    The goal of web development is to create a
                    user-friendly and visually appealing website that meets the needs of both the business
                    and the users.</p>
            </div>
            <div class="row r1c1r3">
                <div class="col-sm-4 r1c1r3c1">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/angular.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c2">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/react.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c3">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/backbone.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c4">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter" src="../../../../../assets/images/brands/webDev/vue.png"
                                mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c5">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/nodejs.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c6">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/expressjs.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c7">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/django.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c8">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/larvel.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c9">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/codeigniter.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r1c1r3c10">
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <img class="mat-card-image flutter"
                                src="../../../../../assets/images/brands/webDev/ruby.png" mat-card-image>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>