@import '../../theme/theme.scss';
@import '../../theme/keyframes.scss';

.active {
    background-color: $primary95;
}

.hire-a-resource-active {
    background-color: $primary98;
    border: none;
}

@media screen and (min-width:0px) {
    .home {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $primary99;
        box-shadow: 0px 0px 6px 0px #00000020;
        height: 80px;
        animation: fade-in 1s;

        .r1 {
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;

            .r1c1 {
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;

                .logo {
                    .logo-button {
                        .logo-img {
                            border-radius: 0.5rem;
                            background-color: $primary100;
                            height: auto;
                            width: 30%;
                            padding: 0.5rem;
                        }
                    }
                }
            }

            .r1c2 {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                align-items: center;

                .hire-a-resource {
                    border: 2px solid $primary90;
                }

                .a {
                    text-decoration: none;
                    color: $primary20;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    font-weight: 300;
                    font-size: small;
                    font-family: MavenPro;
                }

                .a:hover {
                    background-color: $primary95;
                }

                .services-link {
                    height: 96px;
                    display: flex;
                    align-items: center;
                    transition: 0.5s ease-in-out;

                    .a {
                        display: flex;
                        justify-content: flex-start;
                        align-content: center;
                    }

                    .services-menu {
                        display: none;
                        flex-direction: row;
                        justify-content: space-evenly;
                        position: absolute;
                        top: 72px;
                        right: 0;
                        left: 0;
                        width: 90%;
                        background-color: $primary98;
                        border: 0.5rem solid $primary50;
                        border-radius: 1rem;
                        padding: 1rem;
                        margin-left: auto;
                        margin-right: auto;

                        .web,
                        .mobile,
                        .business {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .h6 {
                                padding: 0;
                                text-transform: uppercase;
                                letter-spacing: 0.1rem;
                            }

                            .ul {
                                .li {
                                    margin: 0.5rem 0;
                                }
                            }
                        }
                    }

                    .menu-width {
                        width: max-content;
                        position: absolute;
                        left: 40%;

                    }
                }

                .services-link:hover {
                    .services-menu {
                        animation: scale-in 1s;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                    }
                }
            }
        }

        .r2 {
            .r2c1 {
                .services-menu {
                    display: none;

                    .r2c1r1 {

                        .r2c1r1c1,
                        .r2c1r1c2,
                        .r2c1r1c3 {
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                            text-align: flex-start;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:960px) {
    .home {
        .r1 {
            .r1c1 {
                padding-left: 4%;
            }
        }
    }
}