<div class="container-fluid footer" *ngIf="!(isSmallXSmall | async)">
    <div class="row r1">
        <div class="col-sm-3 c1">
            <h6 class="h6">Services</h6>
            <div class="links">
                <a routerLink="services/web" (click)="onClick()" class="a">
                    <h6 class="h6"><span class="title-span">Web</span> Development</h6>
                </a>
                <a routerLink="services/mobile" (click)="onClick()" class="a">
                    <h6 class="h6"><span class="title-span">Mobile</span> App Development</h6>
                </a>
                <a routerLink="services/business-enterprise" (click)="onClick()" class="a">
                    <h6 class="h6"><span class="title-span">Business</span> Enterprise Services</h6>
                </a>
            </div>
        </div>
        <div class="col-sm-3 c2">
            <h6 class="h6">Company</h6>
            <div class="links">
                <a routerLink="about" (click)="onClick()" class="a">
                    <h6 class="h6">About Us</h6>
                </a>
                <a routerLink="careers" (click)="onClick()" class="a">
                    <h6 class="h6">Careers</h6>
                </a>
            </div>
        </div>
        <div class="col-sm-3 c3">
            <h6 class="h6">Legal</h6>
            <div class="links">
                <a routerLink="contact" (click)="onClick()" class="a">
                    <h6 class="h6">Contact</h6>
                </a>
                <a routerLink="privacy-policy" (click)="onClick()" class="a">
                    <h6 class="h6">Privacy Policy</h6>
                </a>
            </div>
        </div>
        <div class="col-sm-3 c4">
            <h6 class="h6">Social Media</h6>
            <div class="social-media-icons">
                <a class="social-media-links" target="_blank" href="https://www.linkedin.com/company/thekoders/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="social-media-links" target="_blank" href="https://www.facebook.com/thekoders/">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="social-media-links" target="_blank" href="https://twitter.com/">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row r2">
        <div class="col-sm-12 c1">
            <h6 class="h6">Copyright Thekoders © 2016 - 2023</h6>
        </div>
    </div>
</div>