<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">{{home.r1.h1}}</h1>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <div class="row r3c1r1">
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card1.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card1.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/mongodbSq.png" alt="MongoDB"
                                    class="img">
                                <img src="../../../../../assets/images/brands/96x96/expressSq.png" alt="ExpressJS"
                                    class="img">
                                <img src="../../../../../assets/images/brands/96x96/angularSq.png" alt="Angular"
                                    class="img">
                                <img src="../../../../../assets/images/brands/96x96/nodejsSq.png" alt="NodeJS"
                                    class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card2.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card2.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/angularSq.png" alt="Angular"
                                    class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card3.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card3.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/react-icon.png" alt="NodeJS"
                                    class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card4.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card4.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/nodejsSq.png" alt="NodeJS"
                                    class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card5.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card5.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/adobe-xd-icon.png" alt="Adobe XD"
                                    class="img">
                                <img src="../../../../../assets/images/brands/96x96/figma-icon.png" alt="Figma"
                                    class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-sm-4 r3c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <h6 class="h6">{{home.r3.mat_card6.h6}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r3.mat_card6.p}}</p>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button class="mat-flat-button" (click)="openDialog()" mat-flat-button>Hire!</button>
                            <div>
                                <img src="../../../../../assets/images/brands/96x96/php-icon.png" alt="Php" class="img">
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r4">
        <div class="col-sm-12 r4c1">
            <h3 class="h3">{{home.r4.h3}}</h3>
            <div class="row r4c1r1">
                <div class="col-sm-6 r4c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_1}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_2}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_3}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_4}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6 r4c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_5}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_6}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_7}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mat-card">
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r4.listed_item_8}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row r5">
        <div class="col-sm-12 r5c1">
            <h3 class="h3">{{home.r5.h3}}</h3>
            <div class="row r5c1r1">
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_1.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_1.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_1.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_2.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_2.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_2.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_3.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_3.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_3.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_4.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_4.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_4.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_5.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_5.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_5.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4 r5c1r1c1">
                    <mat-card class="mat-card">
                        <mat-card-header class="mat-card-header">
                            <img class="icons" [src]="home.r5.mat_card_6.icon" alt="Scalability">
                            <h6 class="h6">{{home.r5.mat_card_6.title}}</h6>
                        </mat-card-header>
                        <mat-card-content class="mat-card-content">
                            <p class="p">{{home.r5.mat_card_6.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>